<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-52">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Fast & Free Estimates</span>
            <h2 class="cs-title">Get Your Free Quote Today</h2>
            <p class="cs-text">
                Share a few details about your home and your project, and we’ll get back to you with a free, no-obligation quote.
            </p>
            <a href="/contact" class="cs-button-solid">Get a Free Quote</a>
        </div>
        <!-- Background Image-->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/cta-3.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cta-3.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/cta-3.jpg" alt="grass" width="1920" height="1280" aria-hidden="true">
        </picture>
    </div>
</section>
                                