<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/logo.png" alt="logo" width="264" height="78"></a>
            <p> 
                HCL Construction is a leading roofing and siding company in Duluth. We provide expert repairs and installations to protect your home and enhance its appearance. Whether you're fixing a roof or upgrading your siding, we’re here to deliver quality results.
            </p>
            
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about/">About Us</a>
                    </li>
                     <li>
                        <a href="/services/">Services</a>
                    </li>
                    <li>
                        <a href="/our-work/">Our Work</a>
                    </li>
                    <li>
                        <a href="/reviews/">Reviews</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li><a href="/services/">Roof Installation</a></li>
                    <li><a href="/services/">Roof Replacement</a></li>
                    <li><a href="/services/">Roof Repair</a></li>
                    <li><a href="/services/">Roof Inspection</a></li>
                    <li><a href="/services/">Siding Installation</a></li>
                    <li><a href="/services/">Siding Repair</a></li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact/">
                            Message Us
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{client.phoneForTel}}">
                            {{client.phoneFormatted}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed & Developed by</span>
        <a href="/" target="_blank" rel="noopener">ExteriorProSites</a>
        <span class="copyright">
            © {% year %}</span>
    </div>
</footer>
