---
title: 'About | HCL Construction'
description: 'Meta description for the page'
preloadImg: '/assets/images/banner.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">About Us</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/banner.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/banner.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/banner.jpg" alt="grass" loading="eager" width="2500" height="1667">
    </picture>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1982">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Proudly Serving Duluth and Surrounding Areas</span>
            <h2 class="cs-title">Family Owned and Operated</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias accusantium cumque eaque? Sint doloribus minus accusamus officia, debitis, ex eos similique officiis, culpa quo harum natus! Laborum vitae odit vel?
            </p>
            <p class="cs-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro fugiat consequuntur esse sunt eaque impedit qui! Molestiae aliquam, aperiam voluptatibus facere fugiat officia sed, dicta atque cumque sit exercitationem nobis!            
            </p>
            <p class="cs-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro fugiat consequuntur esse sunt eaque impedit qui! Molestiae aliquam, aperiam voluptatibus facere fugiat officia sed, dicta atque cumque sit exercitationem nobis!            
            </p>
            <p class="cs-text cs-quote">
                "Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit dolores earum officiis ipsam molestiae sint sit quis perferendis, mollitia nificiis ipsam molestiae sint sit quis perferendis, mollitia ni" - Colten Hanson, Owner
            </p>
            <!-- <a href="" class="cs-button-solid">Get Started</a> -->
        </div>
        <div class="cs-image-group">
            <picture class="cs-background">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/family.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/family.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/family.jpg" alt="staff member smiling" width="630" height="680">
            </picture>
        </div>
    </div>
</section>
                                                            
<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1453">
    <div class="cs-container">
        <div class="cs-content">
            <!--Yellow Quote-->
            <img class="cs-quote" aria-hidden="true" src="/assets/svgs/quote.svg" decoding="async" alt="quote icon" width="40" height="33" loading="lazy">
            <span class="cs-topper">What Our Customers Say</span>
            <h2 class="cs-title">Verified Reviews From Homeowners Across Northern Minnesota</h2>
            <p class="cs-text">
                Our reputation is built on honest work and satisfied homeowners. See what local customers have to say about their experience working with our team.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <p class="cs-review">
                    Colten has done a lot of work around my house over the last couple years. He has resided my house (vinyl siding), replaced the roof, installed new front and rear exterior door, built a new deck, and replaced a window. I am very happy with how the projects turned out. Colten was professional and handled things in a timely manor. If there were any issues or things he noticed, he brought them to my attention and we discussed options for a solution. I would recommend HCL and would hire again.
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/assets/images/profile-picture-1.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        Micade Devlin
                        <span class="cs-job">Complete Exterior</span>
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <p class="cs-review">
                    HCL Construction recently installed a new roof for me after I had major hail damage. I am very satisfied with job Colten did. He was very professional and easy to work with. I was given a fair price and the job was completed quickly. When the job was done the site was cleaned up perfectly. My roof looks great and very happy with the work that was done. Very Highly recommend!
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/assets/images/profile-picture-2.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        Angela Stahl
                        <span class="cs-job">Roof Replacement</span>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</section>
                      
    {% include 'components/cta.html' %}

{% endblock %}