---
title: 'Reviews | HCL Construction'
description: 'Meta description for the page'
preloadImg: '/assets/images/banner.jpg'
permalink: 'reviews/'
eleventyNavigation:
    key: Reviews
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/reviews.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Verified Reviews</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/banner.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/banner.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/banner.jpg" alt="grass" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Reviews                     -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="container">
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/images/google-logo.webp" alt="google logo" width="99" height="99">
                </picture>
                <p>
                    Colten has done a lot of work around my house over the last couple years. He has resided my house (vinyl siding), replaced the roof, installed new front and rear exterior door, built a new deck, and replaced a window. I am very happy with how the projects turned out. Colten was professional and handled things in a timely manor. If there were any issues or things he noticed, he brought them to my attention and we discussed options for a solution. I would recommend HCL and would hire again.
                </p>
                <div class="star-group">
                    <span class="name">Micade Devlin<span class="desc">Google</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/images/google-logo.webp" alt="google logo" width="99" height="99">
                </picture>
                <p>
                    HCL Construction recently installed a new roof for me after I had major hail damage. I am very satisfied with job Colten did. He was very professional and easy to work with. I was given a fair price and the job was completed quickly. When the job was done the site was cleaned up perfectly. My roof looks great and very happy with the work that was done. Very Highly recommend!
                </p>
                <div class="star-group">
                    <span class="name">Angela Stahl<span class="desc">Google</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/images/google-logo.webp" alt="google logo" width="99" height="99">
                </picture>
                <p>
                    When we were looking for someone to do our roof, we found Colten on the Nextdoor app. After meeting with him, we hired him for our roof and we couldn’t be any happier! Colten is very knowledgeable, honest, affordable and easy to work with. He shows up on time and is there on the day he says he will be. We have him coming back to do a basement door and some dry wall in the near future. I cannot recommend this company enough!
                </p>
                <div class="star-group">
                    <span class="name">Breanna Atallian<span class="desc">Google</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/images/google-logo.webp" alt="google logo" width="99" height="99">
                </picture>
                <p>
                    Great job! Give them a try.
                </p>
                <div class="star-group">
                    <span class="name">Teresa Cozzi<span class="desc">Google</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}