/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-1982 {
        padding: var(--sectionPadding);
        overflow: hidden;
        position: relative;
        z-index: 1;
        background-color: var(--secondary);

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (570/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text-large {
            font-size: (20/16rem);
            line-height: 1.5em;
            margin: 0 0 (12/16rem) 0;
            color: var(--headerColor);
        }

        .cs-text {
            margin-bottom: (32/16rem);
        }

        .cs-quote {
            font-style: italic;
            color: var(--headerColor);
            margin-bottom: (32/16rem);
            background-color: var(--secondaryLight);
            box-shadow: 2px 2px 10px #09090951;
            padding: 1.2rem;
        }

        .cs-h3 {
            font-size: (20/16rem);
            font-weight: 700;
            line-height: 1.2em;
            margin: 0;
            color: var(--headerColor);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (8/16rem);
        }

        .cs-image-group {
            width: 100%;
            max-width: (630/16rem);
            /* Changes to auto at desktop */
            height: (480/16rem);
            /* clips the corners of the children around the border radius */
            overflow: hidden;
            order: -1;
            position: relative;
            box-shadow: 2px 2px 10px #090909e4;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            /* makes it cover the parent dimensions */
            object-fit: cover;
            display: block;

            img {
                width: 100%;
                height: 100%;
                /* makes it cover the parent like a backgorund image */
                object-fit: cover;
                display: block;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-1982 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-content {
            align-self: center;
        }

        .cs-image-group {
            height: auto;
            max-height: (650/16rem);
        }
    }
}

                                

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-1453 {
        padding: var(--sectionPadding);
        background: var(--secondaryLight);
    
        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: (542/16rem);
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-title {
            max-width: 20ch;
        }

        .cs-quote {
            /* 48px - 72px */
            width: clamp(3rem, 7vw, 4.5rem);
            height: auto;
            /* 28px - 48px */
            margin: 0 0 (32/16rem) 0;
        }

        .cs-card-group {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 2.75vw, 1.25rem);
            max-width: (650/16rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            margin: 0;
            /* 20px - 40px top & bottom */
            /* 20px - 40px left & right */
            padding: clamp(1.5rem, 3.15vw, 2rem);
            background-color: var(--secondary);
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            box-shadow: 2px 2px 5px #09090966;
            transition: transform .3s, box-shadow .3s;

            &:hover {
                transform: translateY(-.5rem);
                box-shadow: 2px 2px 10px #090909d6;
                }
        }

        .cs-review {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.6vw, 1rem);
            line-height: 1.5em;
            margin: 0 0 (28/16rem) 0;
            color: var(--tertiaryLight);
        }

        .cs-flex-group {
            /* this margin top auto will push everything up and force the cs-flex-group to the bottom of the container. This is to account for review cards with different heights because of more or less text and makes the cards more responsive to changing text */
            margin-top: auto;
            display: flex;
            align-items: flex-start;
            gap: (12/16rem);
        }

        .cs-profile {
            width: (50/16rem);
            height: auto;
            border-radius: 50%;
            /* clips image corners to make circle */
            overflow: hidden;
            position: relative;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes the image behave like a background image */
                object-fit: cover;
            }
        }

        .cs-name {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.3vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
            margin-top: auto;
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.6vw, 1rem);
            line-height: 1.5em;
            font-weight: 400;
            margin: 0;
            color: var(--tertiaryLight);
            display: block;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #reviews-1453 {
        .cs-container {
            flex-direction: row;
        }

        .cs-content {
            text-align: left;
            width: 45%;
            align-items: flex-start;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-card-group {
            width: 100%;
            order: 1;
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #reviews-1453 {
        .cs-content {
            max-width: (552/16rem);
            align-items: flex-start;
            text-align: left;
        }
    }
}

/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cta-52 {
        padding: 0rem 1rem clamp(3.75rem, 7.82vw, 6.25rem);
        position: relative;
        background: var(--secondaryLight);
    }
}