/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-2291 {
        padding: var(--sectionPadding);
        overflow: hidden;
        background: var(--secondary);

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: (48/16rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            position: relative;
            z-index: 10;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-h3 {
            font-size: (16/16rem);
            font-weight: 700;
            line-height: 1.5em;
            margin: 0 0 (12/16rem);
            color: var(--bodyTextColorWhite);
        }

        .cs-ul {
            font-size: (12/16rem);
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: (12/16rem);
            margin-bottom: 2.5rem;
        }

        .cs-li {
            font-size: (16/16rem);
            line-height: 1.5em;
            list-style: none;
            /* 20px - 24px */
            padding-left: clamp(1.25rem, 3vw, 1.5rem);
            color: var(--bodyTextColorWhite);
            position: relative;

            &::before {
                content: "✔";
                width: (10/16rem);
                height: (10/16rem);
                margin-top: (2/16rem);
                color: var(--primary);
                display: block;
                position: absolute;
                top: 0;
                left: clamp(0px, .5vw, 5px);
                transform: rotate(-8deg);
            }
        }

        .cs-image-group {
            width: 100%;
            height: 126vw;
            max-height: (626/16rem);
            display: block;
            order: -1;
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            /* big background image */
            width: 100%;
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                box-shadow: 2px 2px 20px #0909099b;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-2291 {
        .cs-box {
            flex-direction: row;
            align-items: center;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-2291 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            align-items: stretch;
            gap: (20/16rem);
        }

        .cs-content {
            padding-left: (52/16rem);
        }

        .cs-image-group {
            height: auto;
            min-height: (550/16rem);
            max-height: 100%;
        }
    }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-2289 {
        padding: var(--sectionPadding);
        overflow: hidden;
        background: var(--secondaryLight);

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: (48/16rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            position: relative;
            z-index: 10;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-h3 {
            font-size: (16/16rem);
            font-weight: 700;
            line-height: 1.5em;
            margin: 0 0 (12/16rem);
            color: var(--headerColor);
        }

        .cs-ul {
            font-size: (12/16rem);
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: (12/16rem);
        }

        .cs-li {
            font-size: (16/16rem);
            line-height: 1.5em;
            list-style: none;
            /* 20px - 24px */
            padding-left: clamp(1.25rem, 3vw, 1.5rem);
            color: var(--bodyTextColorWhite);
            position: relative;

            &::before {
                content: "";
                width: (8/16rem);
                height: (8/16rem);
                margin-top: (8/16rem);
                background-color: var(--secondary);
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                transform: rotate(45deg);
            }
        }

        .cs-image-group {
            width: 100%;
            height: 126vw;
            max-height: (626/16rem);
            display: block;
            order: -1;
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            /* big background image */
            width: 100%;
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                box-shadow: 2px 2px 10px #09090958;
            }
        }

        // .cs-box {
        //     text-align: left;
        //     width: 91%;
        //     max-width: (450/16rem);
        //     /* prevents padding and border from affecting height and width */
        //     box-sizing: border-box;
        //     /* 24px - 32px */
        //     padding: clamp(1.5rem, 3vw, 2rem);
        //     background-color: var(--secondary);
        //     box-shadow: 2px 2px 10px #0000001e;
        //     display: inline-flex;
        //     flex-direction: column;
        //     justify-content: center;
        //     align-items: flex-start;
        //     column-gap: (24/16rem);
        //     row-gap: (8/16rem);
        //     position: absolute;
        //     right: 50%;
        //     bottom: 0;
        //     z-index: 10;
        //     transform: translate(50%);
        // }

        .cs-number {
            /* 31px - 49px */
            font-size: clamp(1.9375rem, 4vw, 3.0625rem);
            font-weight: 700;
            line-height: 1.2em;
            text-transform: uppercase;
            margin: 0;
            color: var(--primary);
        }

        .cs-heading {
            font-size: (20/16rem);
            font-weight: 700;
            line-height: 1.2em;
            margin: 0 0 (8/16rem);
            color: var(--headerColor);
        }

        .cs-desc {
            font-size: (16/16rem);
            line-height: 1.5em;
            color: var(--bodyTextColorWhite);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbsr-2289 {
        .cs-box {
            flex-direction: row;
            align-items: center;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-2289 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            align-items: stretch;
            gap: (20/16rem);
        }

        .cs-content {
            padding-right: (52/16rem);
        }

        .cs-image-group {
            height: auto;
            min-height: (530/16rem);
            max-height: 100%;
            order: initial;
        }
    }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1169 {
        background-color: var(--secondary);
        padding: var(--sectionPadding);

        .cs-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
            /* changes to 1440px at large desktop */
            max-width: (824/16rem);
            width: 100%;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            width: 100%;
            /* set text align to left if content needs to be left aligned */
            text-align: center;
        }

        .cs-card-group {
            display: grid;
            align-items: stretch;
            grid-template-columns: repeat(12, 1fr);
            margin: 0;
            width: 100%;
            padding: 0;
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-item {
            z-index: 1;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background-color: var(--secondaryLight);
            box-shadow: 2px 2px 15px #09090954;
            width: 100%;
            list-style: none;
            text-align: left;
            grid-column: span 12;
            max-width: (400/16rem);
            margin: 0 auto;

            &:hover {
                .cs-picture {
                    img {
                        transform: scale(1.2);
                    }
                }

                .cs-h3,
                .cs-link {
                    color: var(--primary);
                }

                .cs-arrow {
                    filter: initial;
                }
            }
        }

        .cs-picture {
            position: relative;
            display: block;
            /* 180px - 240px */
            height: clamp(11.25rem, 24vw, 15rem);
            width: 100%;
            /* clips the image from overflowing parent on hover */
            overflow: hidden;

            &:before {
                /* black color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: #000;
                opacity: 0.0;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                z-index: -1;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: transform 0.65s;
            }
        }

        .cs-info {
            display: flex;
            flex-direction: column;
            padding: (24/16rem);
        }

        .cs-h3 {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            line-height: 1.5em;
            font-weight: 700;
            transition: background-color 0.3s;
            text-align: inherit;
            margin: 0 0 (12/16rem) 0;
            transition: color 0.3s;
        }

        .cs-item-text {
            width: 100%;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            color: var(--bodyTextColorWhite);
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0;
        }

        .cs-link {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-decoration: none;
            font-size: (16/16rem);
            line-height: 1.2em;
            font-weight: 700;
            color: var(--bodyTextColorWhite);
            text-align: inherit;
            margin-top: (20/16rem);
            transition: color 0.3s;

            &:hover {
                .cs-arrow {
                    transform: translateX(0.25rem);
                }
            }
        }

        .cs-arrow {
            display: block;
            height: auto;
            width: (20/16rem);
            transition:
                filter 0.3s,
                transform 0.3s;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1169 {
        .cs-container {
            max-width: (944/16rem);
        }
        .cs-item {
            grid-column: span 4;
            max-width: initial;
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #services-1169 {
        .cs-container {
            max-width: (1440/16rem);
        }
    }
}

/*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #steps-276 {
        padding: var(--sectionPadding);
        background: var(--secondaryLight);

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            max-width: 20ch;
        }

        .cs-card-group {
            padding: 0;
            margin: 0;
            width: 100%;
            /* changes to 1100px at tablet */
            max-width: (400/16rem);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (24/16rem);
            position: relative;

            &:before {
                /* list line connector */
                content: "";
                width: 1px;
                background: var(--bodyTextColorWhite);
                opacity: 1;
                position: absolute;
                display: block;
                /* no height, set it as a top to bottom.  
                It will grow with newly added text in the .cs-item-text */
                top: (16/16rem);
                bottom: (24/16rem);
                left: (56/16rem);
            }
        }

        .cs-item {
            text-align: left;
            list-style: none;
            margin: 0;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .cs-number {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            font-weight: 700;
            margin-right: (44/16rem);
            /* 40px - 52px */
            width: clamp(2.5rem, 5.1vw, 3.25rem);
            height: clamp(2.5rem, 5.1vw, 3.25rem);
            border-radius: 50%;
            color: var(--secondary);
            background-color: var(--primary);
            box-shadow: 2px 2px 10px #090909bc;
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            position: relative;

            &:before {
                /* list circle */
                content: "";
                width: (8/16rem);
                height: (8/16rem);
                background: var(--bodyTextColorWhite);
                border-radius: 50%;
                opacity: 1;
                position: absolute;
                display: block;
                top: 50%;
                right: (-20/16rem);
                transform: translateY(-50%);
            }
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: (16/16rem);
            font-weight: 700;
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColorWhite);
            margin-top: (8/16rem);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #steps-276 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-card-group {
            max-width: (1100/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            column-gap: (32/16em);

            &:before {
                /* reset width */
                width: auto;
                height: 1px;
                /* 60px - 76px */
                top: clamp(3.75rem, 7.5vw, 4.75rem);
                /* 80px - 110px */
                left: clamp(5rem, 10.5vw, 6.875rem);
                right: clamp(5rem, 10.5vw, 6.875rem);
            }
        }

        .cs-item {
            text-align: center;
            width: (218/16rem);
            /* remove margin from mobile */
            margin: 0;
            /* orient to vertical spacing */
            flex-direction: column;
            align-items: center;
        }

        .cs-number {
            margin: 0;
            /* 40px - 60px */
            margin-bottom: clamp(2.5rem, 6vw, 3.75rem);

            &:before {
                top: auto;
                left: 50%;
                /* -24px to -28px */
                /* use calc() to multiply clamp value by -1 to get a negative clamp value */
                bottom: ~"calc(clamp(1.5rem, 2.9vw, 1.75rem) *-1)";
                transform: translateX(-50%);
            }
        }
    }
}

/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cta-1235 {
        background-color: var(--secondary);
        box-sizing: border-box;
        overflow: hidden;
        position: relative;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: (630/16rem);
            padding: var(--sectionPadding);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            z-index: 20;
        }

        .cs-topper {
            color: var(--primary);
        }

        .cs-text, 
        .cs-title {
            color: var(--headerColor);
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-button-solid {
            z-index: 20;
        }

        .cs-background {
            width: 100%;
            height: (380/16rem);
            overflow: hidden;
            display: block;
            position: relative;

            &:before {
                /* yellow slants */
                content: "";
                width: (350/16rem);
                height: 300%;
                background: #1a1a1a;
                opacity: 1;
                position: absolute;
                display: block;
                top: (-200/16rem);
                left: (-190/16rem);
                z-index: 10;
                transform: rotate(-30deg);
                outline: (50/16rem) solid #1a1a1a91;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }

        .cs-floater {
            width: 70%;
            max-width: (652/16rem);
            height: auto;
            opacity: 0.2;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cta-1235 {
        /* moved padding back to the section container */
        padding: var(--sectionPadding);

        .cs-container {
            align-items: center;
            flex-direction: row;
            justify-content: flex-start;
        }

        .cs-content {
            text-align: left;
            width: 57%;
            padding: 0;
            align-items: flex-start;
            position: relative;
            z-index: initial;

            &:before {
                /* yellow slants, adjust the rotate degree and right value if you add more content to account for the extra height of the cs-content container */
                content: "";
                width: (350/16rem);
                height: 400%;
                background: var(--secondary);
                opacity: 1;
                position: absolute;
                display: block;
                top: (-500/16rem);
                right: (30/16rem);
                z-index: 1;
                transform: rotate(-30deg);
                outline: (50/16rem) solid #29292986;
            }
        }

        .cs-topper,
        .cs-title,
        .cs-text {
            position: relative;
            z-index: 20;
        }

        .cs-input {
            width: 100%;
        }

        .cs-submit {
            width: auto;

        }

        .cs-background {
            width: 60%;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;

            &:before {
                /* moved it to the cs-content for easier positioning */
                display: none;
            }
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #cta-1235 {
        min-height: (600/16rem);
        display: flex;
        align-items: center;

        .cs-content {
            text-align: left;
            width: 57%;
            padding: 0;
            align-items: flex-start;
            position: relative;
            z-index: initial;

            &:before {
                /* yellow slants, adjust the rotate degree and right value if you add more content to account for the extra height of the cs-content container */
                content: "";
                width: (600/16rem);
                height: 400%;
                background: var(--secondary);
                opacity: 1;
                position: absolute;
                display: block;
                top: (-500/16rem);
                right: (60/16rem);
                z-index: 1;
                transform: rotate(-30deg);
                outline: (50/16rem) solid #29292986;
            }
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 143rem) {
    #cta-1235 {
        min-height: (600/16rem);
        display: flex;
        align-items: center;

        .cs-content {

            &:before {
                /* yellow slants, adjust the rotate degree and right value if you add more content to account for the extra height of the cs-content container */
                right: (110/16rem);
            }
        }
    }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-1286 {
        padding: var(--sectionPadding);
        background-color: var(--secondaryLight);
        overflow: hidden;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (522/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-ul {
            max-width: (630/16rem);
            margin: 0 0 (32/16rem) 0;
            padding: 0;
            /* clips the bullets to create the half circle */
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (12/16rem);
        }

        .cs-li {
            list-style: none;
            margin: 0;
            color: var(--bodyTextColorWhite);
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: (12/16rem);
            position: relative;
        }

        .cs-image-group {
            /* scales the whole group based on the view width size and stop when that vales equals .845em, resets at desktop */
            font-size: ~"min(2.207vw, 1em)";
            width: (545/16em);
            height: (793/16em);
            display: block;
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            overflow: hidden;
            position: absolute;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-picture1 {
            width: (244/16em);
            height: (200/16em);
            top: (0/16em);
            left: (0/16em);
            box-shadow: 2px 2px 20px #09090994;
        }

        .cs-picture2 {
            width: (244/16em);
            height: (270/16em);
            top: (40/16em);
            right: (33/16em);
            box-shadow: 2px 2px 20px #09090994;
        }

        .cs-picture3 {
            width: (244/16em);
            height: (270/16em);
            top: (220/16em);
            left: 0;
            box-shadow: 2px 2px 20px #09090994;
        }

        .cs-picture4 {
            width: (310/16em);
            height: (343/16em);
            box-shadow: 2px 2px 15px #090909d6;
            top: (294/16em);
            right: 0;
            z-index: 10;
        }

        .cs-picture5 {
            width: (244/16em);
            height: (270/16em);
            top: (510/16em);
            left: (0/16em);
            box-shadow: 2px 2px 20px #09090994;
        }

        .cs-picture6 {
            width: (244/16em);
            height: (190/16em);
            bottom: (0/16em);
            right: (33/16em);
            box-shadow: 2px 2px 20px #09090994;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-1286 {
        padding-top: 0;
        padding-bottom: 0;

        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .cs-content {
            padding: (100/16rem) 0;
            align-self: center;
            /* sends it to the far left */
            order: 1;
        }
 
        .cs-image-group {
            font-size: ~"min(1.2vw, 1em)";
            flex: none;
        }

        .cs-picture1, 
        .cs-picture2, 
        .cs-picture3, 
        .cs-picture5, 
        .cs-picture6 {
            box-shadow: 2px 2px 60px #09090994;
        }

        .cs-picture4 {
            box-shadow: 2px 2px 40px #09090994;
        }
    }
}

/* Large Desktop - 1200px */
@media only screen and (min-width: 75rem) {
    #sbsr-1286 {
        .cs-container {
            padding-right: (88/16rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
        }
    }
}                               

/*-- -------------------------- -->
<---            Map             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #contact-2320 {
        padding: var(--sectionPadding);
        display: flex;
        flex-direction: column;
        /* 48px - 64px */
        gap: 3rem;
        position: relative;
        z-index: 1;
        background-color: var(--secondary);

        .cs-content {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            // max-width: (580/16rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-map {
            width: 100%;
            height: (600/16rem);
            position: relative;
            z-index: 1;
            display: block;
            box-shadow: 2px 2px 20px rgb(0, 0, 0);
            z-index: -1;
        }

        .cs-iframe-wrapper {
            width: 100%;
            height: 100%;
            overflow: hidden;   // clips toolbar
            position: relative;
            box-shadow: 2px 2px 20px #09090913;

            iframe {
                position: absolute;
                top: -70px;      // move map up to hide header
                left: 0;
                width: 100%;
                height: calc(100% + 60px); // compensate for shift
                border: 0;
                pointer-events: none; 
            }
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
            position: relative;
        }

        .cs-item {
            list-style: none;
            width: 100%;
            text-align: center;
            background-color: var(--secondaryLight);
            box-shadow: 2px 2px 20px #0909097e;
            padding: clamp(1rem, 2.3vw, 1.25rem);
            display: flex;
            align-items: center;
            gap: 1rem;
            font-weight: 700;
            grid-column: span 12;
            transition: box-shadow .3s;

                .cs-item-text {
                    transition: color .3s;
                }

                &:hover {
                    box-shadow: 2px 2px 25px #090909d2;

                    .cs-item-text {
                        color: var(--primary);
                    }
                }
        }

        .cs-item-text {
            color: var(--bodyTextColorWhite)
        }
        
        .cs-icon {
            width: (24/16rem);
            height: auto;
            flex: none;
        }
    }
}

@media only screen and (min-width: 30rem) {
    #contact-2320 {
        .cs-item {
            grid-column: span 6;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #contact-2320 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: column;
            align-items: center;
        }

        .cs-map {
            width: 100%;
            height: (500/16rem);
            position: relative;
            z-index: 1;
            display: block;
        }

        .cs-card-group {
            max-width: (1200/16rem);
        }

        .cs-item {
            grid-column: span 3;
        }
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-1453 {
        padding: var(--sectionPadding);
        background: var(--secondaryLight);
    
        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: (542/16rem);
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-title {
            max-width: 20ch;
        }

        .cs-quote {
            /* 48px - 72px */
            width: clamp(3rem, 7vw, 4.5rem);
            height: auto;
            /* 28px - 48px */
            margin: 0 0 (32/16rem) 0;
        }

        .cs-card-group {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 2.75vw, 1.25rem);
            max-width: (650/16rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            margin: 0;
            /* 20px - 40px top & bottom */
            /* 20px - 40px left & right */
            padding: clamp(1.5rem, 3.15vw, 2rem);
            background-color: var(--secondary);
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            box-shadow: 2px 2px 5px #0909096f;
            transition: transform .3s, box-shadow .3s;

            &:hover {
                transform: translateY(-.5rem);
                box-shadow: 2px 2px 10px #090909ab;
                }
        }

        .cs-review {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.6vw, 1rem);
            line-height: 1.5em;
            margin: 0 0 (28/16rem) 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-flex-group {
            /* this margin top auto will push everything up and force the cs-flex-group to the bottom of the container. This is to account for review cards with different heights because of more or less text and makes the cards more responsive to changing text */
            margin-top: auto;
            display: flex;
            align-items: flex-start;
            gap: (12/16rem);
        }

        .cs-profile {
            width: (50/16rem);
            height: auto;
            border-radius: 50%;
            /* clips image corners to make circle */
            overflow: hidden;
            position: relative;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes the image behave like a background image */
                object-fit: cover;
            }
        }

        .cs-name {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.3vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
            margin-top: auto;
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.6vw, 1rem);
            line-height: 1.5em;
            font-weight: 400;
            margin: 0;
            color: var(--bodyTextColorWhite);
            display: block;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #reviews-1453 {
        .cs-container {
            flex-direction: row;
        }

        .cs-content {
            text-align: left;
            width: 45%;
            align-items: flex-start;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-card-group {
            width: 100%;
            order: 1;
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #reviews-1453 {
        .cs-content {
            max-width: (552/16rem);
            align-items: flex-start;
            text-align: left;
        }
    }
}
                                
/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #faq-489 {
        padding: var(--sectionPadding);
        background: var(--secondary);

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            /* 40px - 48px */
            gap: clamp(2.5rem, 5vw, 3rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-color {
            color: var(--primary);
        }
        .cs-title {
            /* 17 characters wide including spaces */
            max-width: 17ch;
        }

        .cs-faq-group {
            max-width: (740/16rem);
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: (20/16rem);
            order: 1;
        }

        .cs-faq-item {
            list-style: none;
            width: 100%;
            /* prevents border from affecting width and height */
            box-sizing: border-box;
            background: var(--secondaryLight);
            box-shadow: 2px 2px 10px #09090976;
            transition:
                border 0.3s,
                padding 0.3s,
                border-color 0.3s;

            &:hover {
                border-color: var(--primary);
            }

            &.active {
                padding-bottom: (16/16rem);
                border-color: var(--primary);
                .cs-button {
                    color: var(--primary);
                    &:before {
                        transform: translateY(-50%) rotate(180deg);
                        opacity: 0;
                        background-color: var(--primary);
                    }
                    &:after {
                        transform: translateY(-50%) rotate(360deg);
                        background-color: var(--primary);
                    }
                }
                .cs-item-p {
                    height: auto;
                    margin-top: (8/16rem);
                    opacity: 1;
                }
            }
        }

        .cs-button {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 1vw, 1.5625rem);
            line-height: 1.2em;
            text-align: left;
            font-weight: bold;
            padding: (16/16rem) (24/16rem);
            border: none;
            background: transparent;
            color: var(--headerColor);
            display: block;
            width: 100%;
            position: relative;
            transition:
                background-color 0.3s,
                color 0.3s;

            &:hover {
                cursor: pointer;
            }

            &:before {
                /* horizontal line */
                content: "";
                width: (16/16rem);
                height: (3/16rem);
                background-color: currentColor;
                opacity: 1;
                border-radius: 1px;
                position: absolute;
                display: block;
                top: 50%;
                right: (24/16rem);
                transform: translateY(-50%);
                transition:
                    transform 0.5s,
                    opacity 0.3s;
            }

            &:after {
                /* vertical line */
                content: "";
                width: (16/16rem);
                height: (3/16rem);
                background-color: currentColor;
                opacity: 1;
                border-radius: 1px;
                position: absolute;
                display: block;
                top: 50%;
                right: (24/16rem);
                transform: translateY(-50%) rotate(90deg);
                transform-origin: center;
                transition: transform 0.5s;
            }
        }

        .cs-button-text {
            width: 80%;
            display: block;
        }

        .cs-item-p {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            width: 90%;
            height: 0;
            margin: 0;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            padding: 0 (24/16rem);
            opacity: 0;
            color: var(--bodyTextColorWhite);
            /* clips the text so it doesn't show up */
            overflow: hidden;
            transition:
                opacity 0.3s,
                padding-bottom 0.3s;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 48rem) {
    #faq-489 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            gap: (52/16rem);
        }

        .cs-content {
            margin-top: (50/16rem);
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title,
        .cs-topper {
            text-align: left;
            margin-left: 0;
        }

        .cs-text {
            /* 32px - 48px */
            margin-bottom: clamp(2rem, 3vw, 3rem);
        }

        .cs-faq-group {
            width: clamp(56%, 58vw, 58%);
            flex: none;
            order: -1;
        }
    }
}

/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cta-52 {
        padding: 0rem 1rem clamp(3.75rem, 7.82vw, 6.25rem);
        position: relative;
        background: var(--secondary);
    }
}